@charset "utf-8";
@import "reset.css";
@import "common.css";


#contact_section {}
fieldset {border: none; }
.contact_box h2 {color:navy}
.contact_box .contact_form .essential_item { display:block; font-size: 14px; font-weight:700;font-family: 'nato sans kr'; color:#333;
    padding:10px 0 15px ;}
.contact_box {margin: 0 660px;}
.contact_box .contact_form {text-align: left; }
.contact_form input { background: #efefef; border:none}
.contact_form .w555 {width: 555px; height: 54px;}
.contact_form .file_bg {background: #fff;}
legend {display: none;}
.contact_form .btn { margin-top: 80px; text-align: center; display: inline-block;}
.contact_form .btn input {width: 260px; height: 54px; background: #000; color: #fff;border: none; border-radius: 5px;
    font-size: 18px; margin: 0 5px} 
.contact_form .btn input[type=submit]{background: #3e78ff;}